[Unit]
Description=Kuvasz agent
Documentation=http://docs.kuvasz.io
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=/etc/sysconfig/kuvasz-agent
User=root
Group=root
Type=simple
WorkingDirectory=/var/log/kuvasz
ExecStart=/usr/sbin/kuvasz-agent
LimitNOFILE=10000
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target

